<!-- <nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <img
        src="https://img.icons8.com/fluency/48/bank-building.png"
        alt="Bank Logo"
        class="logo-img"
      />
      <h1 class="navbar-title">Bank Of Ravindra</h1>
    </div> 
    <ul class="navbar-links">
      <li class="location-item">
        <a
          href="https://www.google.com/maps/place/18%C2%B031'15.3%22N+73%C2%B050'13.9%22E/@18.5209167,73.8360833,17z"
          target="_blank"
        >
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4o0_LJ118uiviE5rNf8Ct4A3DhxFFgAU6-A&s"
            alt="Location Icon"
            class="location-icon"
          />
          Locate Us
        </a>
      </li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/user">User Registration</a></li>
      <li><a routerLink="/login">Login</a></li>
    </ul>
  </div>
</nav> -->
<nav class="navbar">
  <div class="navbar-logo">
    <a href="#"><img src="https://img.icons8.com/fluency/48/bank-building.png" alt="Company Logo">
      <span class="bank-name">Bank Of FORTUNE</span>
    </a>
  </div>
  <ul class="navbar-links">
    <li class="location-item">
      <a
        href="https://www.google.com/maps/place/18%C2%B031'15.3%22N+73%C2%B050'13.9%22E/@18.5209167,73.8360833,17z"
        target="_blank"
      >
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4o0_LJ118uiviE5rNf8Ct4A3DhxFFgAU6-A&s"
          alt="Location Icon"
          class="location-icon"
        />
        Locate Us
      </a>
    </li>
    <li><a routerLink="/home">Home</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#about">About Us</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
  <div class="navbar-btn">
    <a routerLink="/login" class="btn-login">Login</a>
  </div>
</nav>

<marquee class="marquee">
  Welcome to Bank Of Fortune Cloud! Your trusted partner in secure banking.
  We offer advanced security and convenience for all your banking needs. Trust us to keep your finances safe and secure.
</marquee>
<router-outlet></router-outlet>
